.box-voucher-small{
    color: rgb(238, 77, 45);
    width: 460px;
     height: 118px;
    border: 1px solid #c4c4c4;
    border-left: 0;
    border-radius: 2px;
    background-clip: padding-box;
    background: repeating-linear-gradient(#c4c4c4,#c4c4c4 10px,transparent 0,transparent 30px,#c4c4c4 0,#c4c4c4 42px) 0/1px 100% no-repeat,radial-gradient(circle at 0 20px,transparent,transparent 10px,#c4c4c4 0,#c4c4c4 11px,currentColor 0) 1px 0/100% 42px repeat-y;
    display: flex;
   position: relative;
    .content-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        justify-content: center;
        margin: -12px 19px 0 20px;
        img{
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
        span{
            color: #fff;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .border-center{
        min-width: 1px;
        background: repeating-linear-gradient(#e5e5e5,#e5e5e5 5px,transparent 0,transparent 10px);
    }
    .content-right{
        background-color: #fff;
        width: 370px;
       
        .box-content-right{
            display: flex;
            flex-direction: column;
            margin: 12px 20px;
            .name-voucher{
                color: #212121;
                font-size: 18px;
               
            }
            .use-voucher{
                position: absolute;
                top: 3px;
                right: 18px;
                color: rgb(238, 77, 45);
                font-size: 14px;
                font-weight: 600;
               
                &::after{
                    border: solid #ee4d2d;
                    border-width: 0 1px 1px 0;
                    padding: 0.2125rem;
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    position: absolute;
                    content: "";
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    display: block;
                    right: -0.625rem;
             
                    bottom: 0.0625rem;
              
                    margin-left: 0.3125rem;
                
                }

            }
            .max-value-voucher{
                color:  #595959;
                font-size: 14px;
            }
            .box-percent{
                display: flex;
               
             
               flex-direction: column;
                .wrap-percent{
                    height: 8px;
                    border-radius: 2.5rem;
                    width: 130px;
                    background: rgba(0,0,0,.09);
                    overflow: hidden;
                    margin-top: 4px;
                    .percent{
                        
                        height: 100%;
                        background: linear-gradient(270deg, rgb(238, 77, 45) 0%, rgb(238, 77, 45) 100%);
                        
                    }
                }
                .used-percent{
                    color: rgb(255, 66, 79);
                    font-size: 14px;
                  
                   
                }
            }
            .btn-voucher{
                border:0;
                outline: none;
                height: 4.8125rem;
                border-radius: .375rem;
                background-color: rgb(238, 77, 45);
                font-size: 2rem;
                color: #fff;
                margin-top: 30px;

                &:hover{
                    background-color: #da492c;
                }
            }
        }
        
    }
}