.d-block{

    h4{
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 35px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}